*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ac-merlot-bg: #1a050b;
  --ac-merlot: #450419;
  --ac-merlot-text: #E9E1C9;
  --ac-font-header: Georgia, "Times New Roman", Times, serif;
  --ac-font-body: Avenir, Helvetica, Arial, sans-serif;
}

body,
header,
section {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--ac-merlot-bg);
  font-family: var(--ac-font-body);
  -webkit-font-smoothing: antialiased;
}

#root {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

section {
  padding-bottom: 48px;
}

section:nth-child(even) {
  background-color: var(--ac-merlot);
  color: var(--ac-merlot-text);
}

h1, h2 {
  font-family: var(--ac-font-header);
  text-transform: uppercase;
}

h1 {
  padding: 16px;
  margin: 32px 0 16px 0;
  text-align: center;
}

h2 {
  padding: 8px 16px;
  margin: 16px 0 0 0;
}

.schedule {
  display: flex;
}

.schedule .time {
  width: 30%;
  text-align: right;
  padding-right: 8px;
}

.schedule .label {
  width: 70%;
  font-family: var(--ac-font-body);
}

.schedule .label h2 {
  padding-left: 0;
}

.schedule .label small {
  font-weight: bold;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
