body {
  margin: 0;
  padding: 0;
  background-color: #f4f2ee;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root img {
  max-width: 100vw;
  max-height: 100vh;
}
