/**
 * https://coolors.co/110000-641005-dc9b22-fce9e7
 * --licorice: #110000FF;
 * --blood-red: #611005FF;
 * --harvest-gold: #dc9b22ff;
 * --misty-rose: #fce9e7ff;
 */

body {
  margin: 0;
  padding: 0;
  background-color: #110000FF;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root .carousel {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#root .carousel img {
  height: 100%;
  object-fit: cover;
  animation: slide 20s linear infinite;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

#root .carousel img:hover {
  opacity: 1.0;

}

/* Add keyframes for the sliding animation */
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-400%);
  }
}
